
<main class="animated fadeIn">
    <h1 class="title">add conference</h1>
    <div class="adminswichpanel">
        <div class="adminswichpaneldivision">
            <input id="title" type="text" placeholder="title">
            <input id="confDate" type="text" placeholder="date">
            <input id="description" type="text" placeholder="description">
        </div>
        <div class="adminswichpaneldivision">
            {{!-- <input id="shortdescription" type="text" placeholder="shortdescription"> --}}
            <input id="htmltitle" type="text" placeholder="htmltitle">
            <input id="htmldescription" type="text" placeholder="htmldescription">
            {{!-- <input id="menutitle" type="text"> --}}
            <input id="htmlkeywords" type="text" placeholder="htmlkeywords">
        </div>
        {{!-- <input id="alias" type="text" placeholder="alias"> --}}
        <div>
            <button class="btn btn-green" onclick="send('addConference')">save</button>
            <button class="btn btn-red" onclick="send('cansel')">cansel</button>
        </div>
    </div>
</main>

{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/admin/error.js"></script>
        <script src="/scripts/admin/addConference.js"></script>
        <script src="/scripts/admin/delConference.js"></script>
{{/section}}