
<main>
    <h1>show message</h1>
    <h5>{{mess}}</h5>
    {{#each tosend}}
        <h6>user: {{username}}</h6>
        <h6>email: {{usermail}}</h6>
        <h6>message: {{usermessage}}</h6>
    {{/each}}
</main>


{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/admin/error.js"></script>

{{/section}}