
<main>
    <h1 class="title">read Conference App {{count}}</h1>
    {{#each mess}}
        <div class="readMessage">
            <div class="readMessageTitle">
                <h6>{{username}}</h6>
                <h6>{{usermail}}</h6>
            </div>
            <div class="readMessageBody">
                <h6>{{usermessage}}</h6>
            </div>
        </div>
    {{/each}}
</main>

{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/admin/error.js"></script>

{{/section}}