
<main class="animated fadeIn">
    <h1 class="title">about</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quos, nihil, sint nostrum porro magnam modi omnis accusamus, quam eligendi provident perspiciatis voluptatem praesentium quis voluptatibus laudantium. Impedit, iusto possimus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat asperiores quisquam harum sunt nemo hic culpa reprehenderit debitis, nesciunt assumenda. Quo qui libero veniam debitis sequi dolore non nihil perspiciatis!Tempora accusantium autem et, voluptas unde consequuntur, iusto numquam sapiente fuga quis laudantium porro nihil quas excepturi dignissimos ut illo atque ab temporibus nam veritatis dolorem aperiam. Unde, a repudiandae?</p>
</main>

{{#section 'scripts'}}

{{/section}}