
<main class="animated fadeIn">

    {{#if conf}}
    <div class="form">
        <label for="form">заявка на участь в котференції</label>
    </div>
    <form>
        <select id="p" class="confAppSelect ham" onchange="showOptions(this)" onmousedown="$(':first-child', this).remove(); this.onmousedown = null; " onselect="$( 'p').removeClass( 'ham' );">
            <option id="ca_op_1" value="check conf">check conf</option>
            {{#each conf}}
            <option id="ca_op_1" value="check conf">{{confDate}}</option>
            {{/each}}
        </select>
        <input id="name" type="text" placeholder="your name">
        <input id="email" type="text" placeholder="your email">
        <input id="message" type="text" placeholder="your sam">
        <input id="message" type="text" placeholder="your sam">
        <input id="message" type="text" placeholder="your sam">
        <input class="btn" type="button" onclick="send()" value="send">
    </form>
    <div id="mess"></div>
    {{else}}
        <h1 class="title">Поки нема конференції</h1>
    {{/if}}
</main>


{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/client/sendconfApp.js"></script>
        <script src="/scripts/client/error.js"></script>

{{/section}}