
<main class="animated fadeIn">
    <h1>conference {{mess}}</h1>
    <div class="title">{{conf.title}}</div>
    <div>{{conf.confDate}}</div>
    <div>{{conf.description}}</div>
</main>

{{#section 'scripts'}}
        <script src="/scripts/client/sendMail.js"></script>

{{/section}}