
<main class="animated fadeIn">
    <div>
        <h3 class="title">про нас</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis magnam libero maxime molestiae explicabo sapiente ex error accusantium! Minus, corrupti beatae eos voluptatum recusandae consequuntur quo provident tenetur nesciunt autem?</p>
    </div>
    <div class="form">
        <label for="form">Напишіть нам повідомлення</label>
    </div>
        <form>
            <input id="name" type="text" placeholder="your name">
            <input id="email" type="email" placeholder="your email">
            <input id="message" type="textarea" placeholder="your message">
            <input class="btn" type="button" onclick="send()" value="send">
        </form>
        <div id="mess"></div>
</main>


{{#section 'scripts'}}
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="/scripts/client/sendMail.js"></script>
        <script src="/scripts/client/error.js"></script>

{{/section}}