<footer>
        <!-- Сообщение об ошибке -->
    <div class="error-holder">
        <span>Error</span>
    </div>
    <!-- Сообщение об ошибке КОНЕЦ -->

    <h2>{{companyname}}</h2>
</footer>


</div>