<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="utf-8">
        <title>{{metatitle}}</title>
        {{> head}}
    </head>
    <body>

        {{> header}}

        {{{body}}}

        {{> footer}}

        {{{_sections.scripts}}}

    </body>
</html>